<!-- <div style="width: 100%; height: 500px; background-color: lightgreen;">
    <div style="display: flex;">
        <div id="playfield" style="width: 70%;"><%- include roomparts/playfield.ejs %></div>
        <div style="width: 30%;">
            <div><%- include roomparts/userlist.ejs %></div>
            <div><%- include roomparts/chatfield.ejs %></div>
        </div>
    </div>
    
</div> -->
<div class="m-5">
    <div class="row">
        <div class="col-8">
            <div class="card fieldcontainer p-3">
                <img class="preload" src="/images/cards.png" />
                <div id="card-table">
                    <div class="game-utils">
                        <button class="btn btn-game btn-secondary"><i class="bi bi-people-fill"></i></button>
                        <button class="btn btn-game btn-secondary"><i class="bi bi-file-arrow-down"></i></button>
                        <button id="bstart" class="btn btn-game btn-secondary"><i class="bi bi-check"></i></button>
                        <button id="bleave" class="btn btn-game btn-secondary"><i class="bi bi-power"></i></button>
                    </div>
                </div>

                <footer>
                    <p>room#<%= hash %>></p>
                </footer>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3">
                <div id="game-history">
                    <h3 class="p-2">Spielverlauf</h3>
                    <%- include roomparts/userlist.ejs %>
                </div>
            </div>

            <div class="card">
                <div id="chat">
                    <h3 class="p-2">Chat</h3>
                    <%- include roomparts/chatfield.ejs %>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    const bleave = $('#bleave');
    const bstart = $('#bstart');
    const hash = window.location.href.split('/').pop();

    io.socket.post('/socketconnect', function (res, jres) {
        if (jres.statusCode != 200) {
            console.log(res);
        } else {
            console.log("ok");
        }
    })

    bleave.click(socketleave);
    bstart.click(startGame);

    function socketleave() {
        io.socket.delete('/leave', function (res, jres) {
            if (jres.statusCode != 200) {
                console.log(res);
            } else {
                window.location.href = '/list';
            }
        })
    }

    function startGame() {
        // ready animation
        //bstart.children().removeClass('bi-check');
        //bstart.children().addClass('bi-check-square-fill');
        io.socket.post('/startGame', function (res, jres) {
            if (jres.statusCode != 200) {
                console.log(res);
            } else {
                console.log("game started");
                bstart.hide();
            }
        })
    }

    window.onbeforeunload = userUnloaded;

    function userUnloaded() {
        io.socket.post('/userUnload', function (res, jres) {
            if (jres.statusCode != 200) {
                console.log(res);
            } else {
                console.log("User Unloaded");
            }
        });
    }

</script>